/** Animated bg */

.colorize {
  // width: 100%;
  // height: 100vh;
  // background-size: cover;
  background-blend-mode: hard-light;
  animation: hue-animate 15s linear infinite;
}

@keyframes hue-animate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}