// Layout
//
// Styles for managing the structural hierarchy of the site.

/*********************/
/* Make footer stick to bottom of content or page if not enough content  */
html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;

  /* height of footer plus top margin */
  padding-bottom: 5rem;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
/*********************/

.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;
}

.masthead h1,
.masthead h2,
.masthead h3,
// .masthead h4,
.masthead .pages,
.masthead h5,
.masthead h6,
a.title,
.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
  font-weight: 700;
  
  &:before {
    content: "{";
    position: relative;
    top: -0.1rem;
    padding-right: 0.2rem;
  }

  &:after {
    content: "}";
    position: relative;
    top: -0.1rem;
    padding-left: 0.2rem;
  }

}