// Masthead
//
// Super small header above the content for site name and short description.

.masthead.container {
  padding-top: 3.333%;
}

.masthead-bg {
  background-image: url('public/img/stars/stars3.jpg');
  width: 100%;
  display: inline-block;
  position: relative;
  background-size: 100% 100%;
  margin: 0 auto 20px auto;
}

.masthead-bg:after {
  padding-top: 13%;
  display: block;
  content: '';
}

.masthead {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top:    1rem;
  padding-bottom: 1rem;
  // margin-bottom: 3rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  // color: #505050;
  color: white;
  font-size: 1.2rem;
  position: relative;
  
  display: inline-block;

  a {
    // color: #505050;
    color: white;
  }
}

.masthead .pages {
  float: right;
  line-height: 2.0rem;

  h4 {
    // font-family: 'Consolas', monospace;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0;
    display: inline-block;
    line-height: 1.25;
    margin: 0;
    padding-left: 0.3333rem;
    padding-right: 0.3333rem;

    a {
      color: white;
    }
  }

  &:before, &:after {
    color: white;
  }

  display: none;
}

.masthead .menu {
  display: inline-block;
  float: right;
  font-size: 1.8rem;
  line-height: 1.0;
  position: relative;
  top: -2px;


  .fa-bars {
    color: white;
  }

  .dropdown {
    list-style: none;
    -webkit-padding-start: 0;

    position: absolute;
    background: black;
    color: white;
    right: 0;
    padding: 8px 26px;
    border-radius: 6px;
    // border: 1px solid #aaa;
    z-index: 100;

    li {
      text-align: center;
      i {
        color: white;
      }
      h2 {
        &:before, &:after {
          color: white;
        }
      }

      a {
        color: white;
      }
    }
  }

}

.search-popup {
  position: absolute;
  padding: 20px 30px;
  right: 1.5rem;
  z-index: 100;
  background: white;
  border-radius: 6px;
  border: 1px solid #aaa;
  max-width: 360px;

  hr {
    clear: both;
  }

  .input {
    float: right;
    padding-bottom: 20px;

    .label {
      padding-right: 12px;
    }

    input {
      width: 200px;
      padding: 4px;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }

  .search-list {
    list-style: none;
    -webkit-padding-start: 0;

    li {
      clear: both;
    }

    date {
      float: right;
      padding-bottom: 4px;
    }

  }
}

.masthead i {
  cursor: pointer;
}

@media (max-width: 320px) {
  .masthead.container {
    padding-top: 2.0%;
  }

  .search-popup {
    right: 0px;
  }
}

@media (min-width: 32em) {
  .masthead-title {
    font-size: 1.6rem;
  }

  .masthead .menu {
    line-height: 1.6rem;
    top: 4px;
  }
}

@media (min-width: 48em) {
  .masthead .pages {
    display: inline-block;
  }

  .masthead .menu {
    display: none;
  }


  .masthead.container {
    padding-top: 2.5%;
    max-width: 48rem;
  }

  .masthead-title {
    font-size: 2.0rem;

  }

  .masthead .pages {
    line-height: 2.8rem;
    
    h4 {
      font-size: 1.2rem;
    }

  }
  
}

@media (min-width: 62em) { 
  
  .masthead-bg {
    margin-bottom: 30px;
  }

  .masthead.container {
    // padding-top: 4.8%;
    padding-left: 0rem;
    padding-right: 0rem;
    max-width: 52rem;
  }

  .masthead-title {
    font-size: 2.4rem;
  }

  .masthead .pages {
    line-height: 3.3rem;
    
    h4 {
      font-size: 1.333333rem;
    }

  }

  .search-popup {
    right: 0;
  }

}