// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 1.5em;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

// Meta data line below post title
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}


// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }

    a:hover {
      color: #268bd2;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}

.post {
  time {
    display: inline-block;
    margin-right: 1rem;
  }
}

.boxed {
  margin-left: 20px;
}

.box {
  border: 1px solid #666;
  padding: 18px 10px 0px 4px;
  margin-bottom: 14px;
}

.partner {
  border-color: #3498DB;
  margin-left: 20px;
}

.own {
  border-color: #E74C3C;
  margin-left: 20px;
}

.calendar {

  tr, td {
    font-size: 0.97em;
  }

  th {
    text-align: center;
    background: #888;
    color: white;
  }

  td {
    &.even {
      background: white !important;
    }
    &.odd {
      background: #f9f9f9 !important;
    }
  }

}

p.label {
  margin-left: 1em;
  margin-bottom: 4px;
  font-weight: bold;
}

p.site-label {
  margin-bottom: 4px;
  font-weight: bold;
  text-align: center;
}

hr.site {
  width: 33%;
  border-color: #888;
  display: block;
  margin: 8px auto;
  margin-bottom: 24px;
}

img.flag,
img.site {
  display: block; 
  width: 75%; 
  margin: 10px auto 50px auto;
  border-radius: 0;
}

img.site {
  width: 50%;
}

.done {
  text-align: center;
  margin-bottom: 16px;
}

.figure-title {
  text-align: center;
  font-weight: bold;
  color: #666;
}


.section  {
  margin-left: 2em;

  ul,
  ol {
    -webkit-padding-start: 0em;
  }

}

.section-title {
  font-weight: bold;
  color: #666;
}

.callout {
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 2px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #f9f9f9;
}

.checklist tr td:first-child {
  text-align: center;
}

.checklist tr td:nth-child(2) {
  padding-left: 20px;
}

.attribution {
  font-size: 0.75em;
  font-color: #999;
  text-align: right;
}

.attributed img {
  margin-bottom: 0;
  border: 1px solid #999;
  border-radius: 0;
}

.t-shirt {
  padding-left: 20px;
  padding-right: 20px;
}

.class-table {

  width: 380px;

  font-size: 1.2em;

  th {
    text-align: center;

    background: #414141;
    color: white;

    &:first-child {
      width: 90px;
    }
  }

  td:first-child {
    text-align: center;
  }

  td:nth-child(2) {
    padding-left: 2em;
  }


}

.spaced {
  margin-bottom: 1em;
}

p.break {
  height: 0.5em;
}

.listed .section-title {
  float: left;
}