.tag {
  cursor: default;
}
.jumbo {
  margin: 20px 0;
  border: 8px solid #aaa;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.jumbo:hover {
  border-color: #268bd2
}
.jumbo img {
  margin-bottom: 0;
}
.icons {
  position: relative;
}
.ext {
  position: absolute;
  right: 10px;
  top: -41px;
}
.ext i {
  font-size: 32px;
  color: #444;
  transition: all 0.3s ease;
}
.ext:hover i {
  color: #268bd2;
  transform: scale(1.5);
}
.web {
  right: 50px;
  top: -39px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tag {
  margin-bottom: 1rem;
}