.tag {
  cursor: default;
}
.streamable {
  margin: 20px 0;
  border: 8px solid #aaa;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.streamable:hover {
  border-color: #268bd2
}
.icons {
  position: relative;
}
.github {
  position: absolute;
  right: 10px;
  top: -41px;
}
.github i {
  font-size: 32px;
  color: #444;
  transition: all 0.3s ease;
}
.github:hover i {
  color: #268bd2;
  transform: scale(1.5);
}